/*
Gerrit Code Review REST API

The Gerrit Code Review REST API. Paths, parameters, and payload schemas are generated statically from the server's REST bindings; human-authored summaries and descriptions are supplied here and merged in at build time.

API version: 3.15.0-SNAPSHOT
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gerritclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
	"os"
)


// ProjectsAPIService ProjectsAPI service
type ProjectsAPIService service

type ApiDeleteProjectsProjectIdBranchesBranchIdRequest struct {
	ctx context.Context
	ApiService *ProjectsAPIService
	projectId string
	branchId string
}

func (r ApiDeleteProjectsProjectIdBranchesBranchIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteProjectsProjectIdBranchesBranchIdExecute(r)
}

/*
DeleteProjectsProjectIdBranchesBranchId Delete Branch

Deletes a branch.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @param branchId
 @return ApiDeleteProjectsProjectIdBranchesBranchIdRequest
*/
func (a *ProjectsAPIService) DeleteProjectsProjectIdBranchesBranchId(ctx context.Context, projectId string, branchId string) ApiDeleteProjectsProjectIdBranchesBranchIdRequest {
	return ApiDeleteProjectsProjectIdBranchesBranchIdRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
		branchId: branchId,
	}
}

// Execute executes the request
func (a *ProjectsAPIService) DeleteProjectsProjectIdBranchesBranchIdExecute(r ApiDeleteProjectsProjectIdBranchesBranchIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.DeleteProjectsProjectIdBranchesBranchId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/{project-id}/branches/{branch-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"project-id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"branch-id"+"}", url.PathEscape(parameterValueToString(r.branchId, "branchId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeleteProjectsProjectIdDashboardsDashboardIdRequest struct {
	ctx context.Context
	ApiService *ProjectsAPIService
	projectId string
	dashboardId string
}

func (r ApiDeleteProjectsProjectIdDashboardsDashboardIdRequest) Execute() (*DashboardInfo, *http.Response, error) {
	return r.ApiService.DeleteProjectsProjectIdDashboardsDashboardIdExecute(r)
}

/*
DeleteProjectsProjectIdDashboardsDashboardId Delete Dashboard

Deletes a project dashboard.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @param dashboardId
 @return ApiDeleteProjectsProjectIdDashboardsDashboardIdRequest
*/
func (a *ProjectsAPIService) DeleteProjectsProjectIdDashboardsDashboardId(ctx context.Context, projectId string, dashboardId string) ApiDeleteProjectsProjectIdDashboardsDashboardIdRequest {
	return ApiDeleteProjectsProjectIdDashboardsDashboardIdRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
		dashboardId: dashboardId,
	}
}

// Execute executes the request
//  @return DashboardInfo
func (a *ProjectsAPIService) DeleteProjectsProjectIdDashboardsDashboardIdExecute(r ApiDeleteProjectsProjectIdDashboardsDashboardIdRequest) (*DashboardInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DashboardInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.DeleteProjectsProjectIdDashboardsDashboardId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/{project-id}/dashboards/{dashboard-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"project-id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"dashboard-id"+"}", url.PathEscape(parameterValueToString(r.dashboardId, "dashboardId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v DashboardInfo
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteProjectsProjectIdDescriptionRequest struct {
	ctx context.Context
	ApiService *ProjectsAPIService
	projectId string
}

func (r ApiDeleteProjectsProjectIdDescriptionRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.DeleteProjectsProjectIdDescriptionExecute(r)
}

/*
DeleteProjectsProjectIdDescription Delete Project Description

Deletes the description of a project.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @return ApiDeleteProjectsProjectIdDescriptionRequest
*/
func (a *ProjectsAPIService) DeleteProjectsProjectIdDescription(ctx context.Context, projectId string) ApiDeleteProjectsProjectIdDescriptionRequest {
	return ApiDeleteProjectsProjectIdDescriptionRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return string
func (a *ProjectsAPIService) DeleteProjectsProjectIdDescriptionExecute(r ApiDeleteProjectsProjectIdDescriptionRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.DeleteProjectsProjectIdDescription")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/{project-id}/description"
	localVarPath = strings.Replace(localVarPath, "{"+"project-id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteProjectsProjectIdLabelsLabelIdRequest struct {
	ctx context.Context
	ApiService *ProjectsAPIService
	projectId string
	labelId string
}

func (r ApiDeleteProjectsProjectIdLabelsLabelIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteProjectsProjectIdLabelsLabelIdExecute(r)
}

/*
DeleteProjectsProjectIdLabelsLabelId Delete Label

Deletes the definition of a label that is defined in this project.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @param labelId
 @return ApiDeleteProjectsProjectIdLabelsLabelIdRequest
*/
func (a *ProjectsAPIService) DeleteProjectsProjectIdLabelsLabelId(ctx context.Context, projectId string, labelId string) ApiDeleteProjectsProjectIdLabelsLabelIdRequest {
	return ApiDeleteProjectsProjectIdLabelsLabelIdRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
		labelId: labelId,
	}
}

// Execute executes the request
func (a *ProjectsAPIService) DeleteProjectsProjectIdLabelsLabelIdExecute(r ApiDeleteProjectsProjectIdLabelsLabelIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.DeleteProjectsProjectIdLabelsLabelId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/{project-id}/labels/{label-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"project-id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"label-id"+"}", url.PathEscape(parameterValueToString(r.labelId, "labelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeleteProjectsProjectIdSubmitRequirementsSubmitRequirementIdRequest struct {
	ctx context.Context
	ApiService *ProjectsAPIService
	projectId string
	submitRequirementId string
}

func (r ApiDeleteProjectsProjectIdSubmitRequirementsSubmitRequirementIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteProjectsProjectIdSubmitRequirementsSubmitRequirementIdExecute(r)
}

/*
DeleteProjectsProjectIdSubmitRequirementsSubmitRequirementId Delete Submit Requirement

Deletes the definition of a submit requirement that is defined in this project.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @param submitRequirementId
 @return ApiDeleteProjectsProjectIdSubmitRequirementsSubmitRequirementIdRequest
*/
func (a *ProjectsAPIService) DeleteProjectsProjectIdSubmitRequirementsSubmitRequirementId(ctx context.Context, projectId string, submitRequirementId string) ApiDeleteProjectsProjectIdSubmitRequirementsSubmitRequirementIdRequest {
	return ApiDeleteProjectsProjectIdSubmitRequirementsSubmitRequirementIdRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
		submitRequirementId: submitRequirementId,
	}
}

// Execute executes the request
func (a *ProjectsAPIService) DeleteProjectsProjectIdSubmitRequirementsSubmitRequirementIdExecute(r ApiDeleteProjectsProjectIdSubmitRequirementsSubmitRequirementIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.DeleteProjectsProjectIdSubmitRequirementsSubmitRequirementId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/{project-id}/submit_requirements/{submit-requirement-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"project-id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"submit-requirement-id"+"}", url.PathEscape(parameterValueToString(r.submitRequirementId, "submitRequirementId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeleteProjectsProjectIdTagsTagIdRequest struct {
	ctx context.Context
	ApiService *ProjectsAPIService
	projectId string
	tagId string
}

func (r ApiDeleteProjectsProjectIdTagsTagIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteProjectsProjectIdTagsTagIdExecute(r)
}

/*
DeleteProjectsProjectIdTagsTagId Delete Tag

Deletes a tag.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @param tagId
 @return ApiDeleteProjectsProjectIdTagsTagIdRequest
*/
func (a *ProjectsAPIService) DeleteProjectsProjectIdTagsTagId(ctx context.Context, projectId string, tagId string) ApiDeleteProjectsProjectIdTagsTagIdRequest {
	return ApiDeleteProjectsProjectIdTagsTagIdRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
		tagId: tagId,
	}
}

// Execute executes the request
func (a *ProjectsAPIService) DeleteProjectsProjectIdTagsTagIdExecute(r ApiDeleteProjectsProjectIdTagsTagIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.DeleteProjectsProjectIdTagsTagId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/{project-id}/tags/{tag-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"project-id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tag-id"+"}", url.PathEscape(parameterValueToString(r.tagId, "tagId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetProjectsRequest struct {
	ctx context.Context
	ApiService *ProjectsAPIService
	all *bool
	description *bool
	format *string
	hasAclFor *string
	limit *int32
	match *string
	prefix *string
	query *string
	regexFilter *string
	showBranch *[]string
	start *int32
	state *string
	tree *bool
	type_ *string
}

func (r ApiGetProjectsRequest) All(all bool) ApiGetProjectsRequest {
	r.all = &all
	return r
}

func (r ApiGetProjectsRequest) Description(description bool) ApiGetProjectsRequest {
	r.description = &description
	return r
}

func (r ApiGetProjectsRequest) Format(format string) ApiGetProjectsRequest {
	r.format = &format
	return r
}

func (r ApiGetProjectsRequest) HasAclFor(hasAclFor string) ApiGetProjectsRequest {
	r.hasAclFor = &hasAclFor
	return r
}

func (r ApiGetProjectsRequest) Limit(limit int32) ApiGetProjectsRequest {
	r.limit = &limit
	return r
}

func (r ApiGetProjectsRequest) Match(match string) ApiGetProjectsRequest {
	r.match = &match
	return r
}

func (r ApiGetProjectsRequest) Prefix(prefix string) ApiGetProjectsRequest {
	r.prefix = &prefix
	return r
}

func (r ApiGetProjectsRequest) Query(query string) ApiGetProjectsRequest {
	r.query = &query
	return r
}

func (r ApiGetProjectsRequest) RegexFilter(regexFilter string) ApiGetProjectsRequest {
	r.regexFilter = &regexFilter
	return r
}

func (r ApiGetProjectsRequest) ShowBranch(showBranch []string) ApiGetProjectsRequest {
	r.showBranch = &showBranch
	return r
}

func (r ApiGetProjectsRequest) Start(start int32) ApiGetProjectsRequest {
	r.start = &start
	return r
}

func (r ApiGetProjectsRequest) State(state string) ApiGetProjectsRequest {
	r.state = &state
	return r
}

func (r ApiGetProjectsRequest) Tree(tree bool) ApiGetProjectsRequest {
	r.tree = &tree
	return r
}

func (r ApiGetProjectsRequest) Type_(type_ string) ApiGetProjectsRequest {
	r.type_ = &type_
	return r
}

func (r ApiGetProjectsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetProjectsExecute(r)
}

/*
GetProjects List projects

Lists the projects accessible by the caller, optionally filtered by prefix, regex, or substring.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetProjectsRequest
*/
func (a *ProjectsAPIService) GetProjects(ctx context.Context) ApiGetProjectsRequest {
	return ApiGetProjectsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ProjectsAPIService) GetProjectsExecute(r ApiGetProjectsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.GetProjects")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.all != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "all", r.all, "form", "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	if r.hasAclFor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "has-acl-for", r.hasAclFor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.match != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "match", r.match, "form", "")
	}
	if r.prefix != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prefix", r.prefix, "form", "")
	}
	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	}
	if r.regexFilter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "r", r.regexFilter, "form", "")
	}
	if r.showBranch != nil {
		t := *r.showBranch
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "show-branch", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "show-branch", t, "form", "multi")
		}
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	if r.tree != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tree", r.tree, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetProjectsProjectIdRequest struct {
	ctx context.Context
	ApiService *ProjectsAPIService
	projectId string
}

func (r ApiGetProjectsProjectIdRequest) Execute() (*ProjectInfo, *http.Response, error) {
	return r.ApiService.GetProjectsProjectIdExecute(r)
}

/*
GetProjectsProjectId Get project

Retrieves a single project as a ProjectInfo entity.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @return ApiGetProjectsProjectIdRequest
*/
func (a *ProjectsAPIService) GetProjectsProjectId(ctx context.Context, projectId string) ApiGetProjectsProjectIdRequest {
	return ApiGetProjectsProjectIdRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return ProjectInfo
func (a *ProjectsAPIService) GetProjectsProjectIdExecute(r ApiGetProjectsProjectIdRequest) (*ProjectInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProjectInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.GetProjectsProjectId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/{project-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"project-id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetProjectsProjectIdAccessRequest struct {
	ctx context.Context
	ApiService *ProjectsAPIService
	projectId string
}

func (r ApiGetProjectsProjectIdAccessRequest) Execute() (*ProjectAccessInfo, *http.Response, error) {
	return r.ApiService.GetProjectsProjectIdAccessExecute(r)
}

/*
GetProjectsProjectIdAccess List Access Rights for Project

Lists the access rights for a single project.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @return ApiGetProjectsProjectIdAccessRequest
*/
func (a *ProjectsAPIService) GetProjectsProjectIdAccess(ctx context.Context, projectId string) ApiGetProjectsProjectIdAccessRequest {
	return ApiGetProjectsProjectIdAccessRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return ProjectAccessInfo
func (a *ProjectsAPIService) GetProjectsProjectIdAccessExecute(r ApiGetProjectsProjectIdAccessRequest) (*ProjectAccessInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProjectAccessInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.GetProjectsProjectIdAccess")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/{project-id}/access"
	localVarPath = strings.Replace(localVarPath, "{"+"project-id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetProjectsProjectIdBranchesRequest struct {
	ctx context.Context
	ApiService *ProjectsAPIService
	projectId string
	limit *int32
	match *string
	nextPageToken *string
	regex *string
	start *int32
}

func (r ApiGetProjectsProjectIdBranchesRequest) Limit(limit int32) ApiGetProjectsProjectIdBranchesRequest {
	r.limit = &limit
	return r
}

func (r ApiGetProjectsProjectIdBranchesRequest) Match(match string) ApiGetProjectsProjectIdBranchesRequest {
	r.match = &match
	return r
}

func (r ApiGetProjectsProjectIdBranchesRequest) NextPageToken(nextPageToken string) ApiGetProjectsProjectIdBranchesRequest {
	r.nextPageToken = &nextPageToken
	return r
}

func (r ApiGetProjectsProjectIdBranchesRequest) Regex(regex string) ApiGetProjectsProjectIdBranchesRequest {
	r.regex = &regex
	return r
}

func (r ApiGetProjectsProjectIdBranchesRequest) Start(start int32) ApiGetProjectsProjectIdBranchesRequest {
	r.start = &start
	return r
}

func (r ApiGetProjectsProjectIdBranchesRequest) Execute() ([]BranchInfo, *http.Response, error) {
	return r.ApiService.GetProjectsProjectIdBranchesExecute(r)
}

/*
GetProjectsProjectIdBranches List branches

Lists the branches of a project as BranchInfo entities.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @return ApiGetProjectsProjectIdBranchesRequest
*/
func (a *ProjectsAPIService) GetProjectsProjectIdBranches(ctx context.Context, projectId string) ApiGetProjectsProjectIdBranchesRequest {
	return ApiGetProjectsProjectIdBranchesRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return []BranchInfo
func (a *ProjectsAPIService) GetProjectsProjectIdBranchesExecute(r ApiGetProjectsProjectIdBranchesRequest) ([]BranchInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []BranchInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.GetProjectsProjectIdBranches")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/{project-id}/branches"
	localVarPath = strings.Replace(localVarPath, "{"+"project-id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.match != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "match", r.match, "form", "")
	}
	if r.nextPageToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "next-page-token", r.nextPageToken, "form", "")
	}
	if r.regex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "regex", r.regex, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetProjectsProjectIdBranchesBranchIdRequest struct {
	ctx context.Context
	ApiService *ProjectsAPIService
	projectId string
	branchId string
}

func (r ApiGetProjectsProjectIdBranchesBranchIdRequest) Execute() (*BranchInfo, *http.Response, error) {
	return r.ApiService.GetProjectsProjectIdBranchesBranchIdExecute(r)
}

/*
GetProjectsProjectIdBranchesBranchId Get Branch

Retrieves a branch of a project. For the "All-Users" repository, the magic branch "refs/users/self" is automatically resolved to the user branch of the calling user.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @param branchId
 @return ApiGetProjectsProjectIdBranchesBranchIdRequest
*/
func (a *ProjectsAPIService) GetProjectsProjectIdBranchesBranchId(ctx context.Context, projectId string, branchId string) ApiGetProjectsProjectIdBranchesBranchIdRequest {
	return ApiGetProjectsProjectIdBranchesBranchIdRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
		branchId: branchId,
	}
}

// Execute executes the request
//  @return BranchInfo
func (a *ProjectsAPIService) GetProjectsProjectIdBranchesBranchIdExecute(r ApiGetProjectsProjectIdBranchesBranchIdRequest) (*BranchInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BranchInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.GetProjectsProjectIdBranchesBranchId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/{project-id}/branches/{branch-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"project-id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"branch-id"+"}", url.PathEscape(parameterValueToString(r.branchId, "branchId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetProjectsProjectIdBranchesBranchIdFilesFileIdContentRequest struct {
	ctx context.Context
	ApiService *ProjectsAPIService
	projectId string
	branchId string
	fileId string
}

func (r ApiGetProjectsProjectIdBranchesBranchIdFilesFileIdContentRequest) Execute() (*os.File, *http.Response, error) {
	return r.ApiService.GetProjectsProjectIdBranchesBranchIdFilesFileIdContentExecute(r)
}

/*
GetProjectsProjectIdBranchesBranchIdFilesFileIdContent Get Content

Gets the content of a file from the HEAD revision of a certain branch.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @param branchId
 @param fileId
 @return ApiGetProjectsProjectIdBranchesBranchIdFilesFileIdContentRequest
*/
func (a *ProjectsAPIService) GetProjectsProjectIdBranchesBranchIdFilesFileIdContent(ctx context.Context, projectId string, branchId string, fileId string) ApiGetProjectsProjectIdBranchesBranchIdFilesFileIdContentRequest {
	return ApiGetProjectsProjectIdBranchesBranchIdFilesFileIdContentRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
		branchId: branchId,
		fileId: fileId,
	}
}

// Execute executes the request
//  @return *os.File
func (a *ProjectsAPIService) GetProjectsProjectIdBranchesBranchIdFilesFileIdContentExecute(r ApiGetProjectsProjectIdBranchesBranchIdFilesFileIdContentRequest) (*os.File, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.GetProjectsProjectIdBranchesBranchIdFilesFileIdContent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/{project-id}/branches/{branch-id}/files/{file-id}/content"
	localVarPath = strings.Replace(localVarPath, "{"+"project-id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"branch-id"+"}", url.PathEscape(parameterValueToString(r.branchId, "branchId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"file-id"+"}", url.PathEscape(parameterValueToString(r.fileId, "fileId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/octet-stream"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetProjectsProjectIdBranchesBranchIdFilesFileIdDiffRequest struct {
	ctx context.Context
	ApiService *ProjectsAPIService
	projectId string
	branchId string
	fileId string
	base *string
	intraline *bool
	whitespace *string
}

func (r ApiGetProjectsProjectIdBranchesBranchIdFilesFileIdDiffRequest) Base(base string) ApiGetProjectsProjectIdBranchesBranchIdFilesFileIdDiffRequest {
	r.base = &base
	return r
}

func (r ApiGetProjectsProjectIdBranchesBranchIdFilesFileIdDiffRequest) Intraline(intraline bool) ApiGetProjectsProjectIdBranchesBranchIdFilesFileIdDiffRequest {
	r.intraline = &intraline
	return r
}

func (r ApiGetProjectsProjectIdBranchesBranchIdFilesFileIdDiffRequest) Whitespace(whitespace string) ApiGetProjectsProjectIdBranchesBranchIdFilesFileIdDiffRequest {
	r.whitespace = &whitespace
	return r
}

func (r ApiGetProjectsProjectIdBranchesBranchIdFilesFileIdDiffRequest) Execute() (*DiffInfo, *http.Response, error) {
	return r.ApiService.GetProjectsProjectIdBranchesBranchIdFilesFileIdDiffExecute(r)
}

/*
GetProjectsProjectIdBranchesBranchIdFilesFileIdDiff Method for GetProjectsProjectIdBranchesBranchIdFilesFileIdDiff

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @param branchId
 @param fileId
 @return ApiGetProjectsProjectIdBranchesBranchIdFilesFileIdDiffRequest
*/
func (a *ProjectsAPIService) GetProjectsProjectIdBranchesBranchIdFilesFileIdDiff(ctx context.Context, projectId string, branchId string, fileId string) ApiGetProjectsProjectIdBranchesBranchIdFilesFileIdDiffRequest {
	return ApiGetProjectsProjectIdBranchesBranchIdFilesFileIdDiffRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
		branchId: branchId,
		fileId: fileId,
	}
}

// Execute executes the request
//  @return DiffInfo
func (a *ProjectsAPIService) GetProjectsProjectIdBranchesBranchIdFilesFileIdDiffExecute(r ApiGetProjectsProjectIdBranchesBranchIdFilesFileIdDiffRequest) (*DiffInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DiffInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.GetProjectsProjectIdBranchesBranchIdFilesFileIdDiff")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/{project-id}/branches/{branch-id}/files/{file-id}/diff"
	localVarPath = strings.Replace(localVarPath, "{"+"project-id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"branch-id"+"}", url.PathEscape(parameterValueToString(r.branchId, "branchId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"file-id"+"}", url.PathEscape(parameterValueToString(r.fileId, "fileId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.base != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "base", r.base, "form", "")
	}
	if r.intraline != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "intraline", r.intraline, "form", "")
	}
	if r.whitespace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "whitespace", r.whitespace, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetProjectsProjectIdBranchesBranchIdMergeableRequest struct {
	ctx context.Context
	ApiService *ProjectsAPIService
	projectId string
	branchId string
	source *string
	strategy *string
}

func (r ApiGetProjectsProjectIdBranchesBranchIdMergeableRequest) Source(source string) ApiGetProjectsProjectIdBranchesBranchIdMergeableRequest {
	r.source = &source
	return r
}

func (r ApiGetProjectsProjectIdBranchesBranchIdMergeableRequest) Strategy(strategy string) ApiGetProjectsProjectIdBranchesBranchIdMergeableRequest {
	r.strategy = &strategy
	return r
}

func (r ApiGetProjectsProjectIdBranchesBranchIdMergeableRequest) Execute() (*MergeableInfo, *http.Response, error) {
	return r.ApiService.GetProjectsProjectIdBranchesBranchIdMergeableExecute(r)
}

/*
GetProjectsProjectIdBranchesBranchIdMergeable Get Mergeable Information

Gets whether the source is mergeable with the target branch.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @param branchId
 @return ApiGetProjectsProjectIdBranchesBranchIdMergeableRequest
*/
func (a *ProjectsAPIService) GetProjectsProjectIdBranchesBranchIdMergeable(ctx context.Context, projectId string, branchId string) ApiGetProjectsProjectIdBranchesBranchIdMergeableRequest {
	return ApiGetProjectsProjectIdBranchesBranchIdMergeableRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
		branchId: branchId,
	}
}

// Execute executes the request
//  @return MergeableInfo
func (a *ProjectsAPIService) GetProjectsProjectIdBranchesBranchIdMergeableExecute(r ApiGetProjectsProjectIdBranchesBranchIdMergeableRequest) (*MergeableInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MergeableInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.GetProjectsProjectIdBranchesBranchIdMergeable")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/{project-id}/branches/{branch-id}/mergeable"
	localVarPath = strings.Replace(localVarPath, "{"+"project-id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"branch-id"+"}", url.PathEscape(parameterValueToString(r.branchId, "branchId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.source == nil {
		return localVarReturnValue, nil, reportError("source is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	if r.strategy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "strategy", r.strategy, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetProjectsProjectIdBranchesBranchIdReflogRequest struct {
	ctx context.Context
	ApiService *ProjectsAPIService
	projectId string
	branchId string
	from *string
	limit *int32
	to *string
}

func (r ApiGetProjectsProjectIdBranchesBranchIdReflogRequest) From(from string) ApiGetProjectsProjectIdBranchesBranchIdReflogRequest {
	r.from = &from
	return r
}

func (r ApiGetProjectsProjectIdBranchesBranchIdReflogRequest) Limit(limit int32) ApiGetProjectsProjectIdBranchesBranchIdReflogRequest {
	r.limit = &limit
	return r
}

func (r ApiGetProjectsProjectIdBranchesBranchIdReflogRequest) To(to string) ApiGetProjectsProjectIdBranchesBranchIdReflogRequest {
	r.to = &to
	return r
}

func (r ApiGetProjectsProjectIdBranchesBranchIdReflogRequest) Execute() ([]ReflogEntryInfo, *http.Response, error) {
	return r.ApiService.GetProjectsProjectIdBranchesBranchIdReflogExecute(r)
}

/*
GetProjectsProjectIdBranchesBranchIdReflog Get Reflog

Gets the reflog of a certain branch.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @param branchId
 @return ApiGetProjectsProjectIdBranchesBranchIdReflogRequest
*/
func (a *ProjectsAPIService) GetProjectsProjectIdBranchesBranchIdReflog(ctx context.Context, projectId string, branchId string) ApiGetProjectsProjectIdBranchesBranchIdReflogRequest {
	return ApiGetProjectsProjectIdBranchesBranchIdReflogRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
		branchId: branchId,
	}
}

// Execute executes the request
//  @return []ReflogEntryInfo
func (a *ProjectsAPIService) GetProjectsProjectIdBranchesBranchIdReflogExecute(r ApiGetProjectsProjectIdBranchesBranchIdReflogRequest) ([]ReflogEntryInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ReflogEntryInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.GetProjectsProjectIdBranchesBranchIdReflog")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/{project-id}/branches/{branch-id}/reflog"
	localVarPath = strings.Replace(localVarPath, "{"+"project-id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"branch-id"+"}", url.PathEscape(parameterValueToString(r.branchId, "branchId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetProjectsProjectIdBranchesBranchIdSuggestReviewersRequest struct {
	ctx context.Context
	ApiService *ProjectsAPIService
	projectId string
	branchId string
	excludeGroups *bool
	limit *int32
	query *string
	reviewerState *string
}

func (r ApiGetProjectsProjectIdBranchesBranchIdSuggestReviewersRequest) ExcludeGroups(excludeGroups bool) ApiGetProjectsProjectIdBranchesBranchIdSuggestReviewersRequest {
	r.excludeGroups = &excludeGroups
	return r
}

func (r ApiGetProjectsProjectIdBranchesBranchIdSuggestReviewersRequest) Limit(limit int32) ApiGetProjectsProjectIdBranchesBranchIdSuggestReviewersRequest {
	r.limit = &limit
	return r
}

func (r ApiGetProjectsProjectIdBranchesBranchIdSuggestReviewersRequest) Query(query string) ApiGetProjectsProjectIdBranchesBranchIdSuggestReviewersRequest {
	r.query = &query
	return r
}

func (r ApiGetProjectsProjectIdBranchesBranchIdSuggestReviewersRequest) ReviewerState(reviewerState string) ApiGetProjectsProjectIdBranchesBranchIdSuggestReviewersRequest {
	r.reviewerState = &reviewerState
	return r
}

func (r ApiGetProjectsProjectIdBranchesBranchIdSuggestReviewersRequest) Execute() ([]SuggestedReviewerInfo, *http.Response, error) {
	return r.ApiService.GetProjectsProjectIdBranchesBranchIdSuggestReviewersExecute(r)
}

/*
GetProjectsProjectIdBranchesBranchIdSuggestReviewers Suggest Reviewers

Suggest the reviewers for a given query q and result limit n. If result limit is not passed, then the default 10 is used.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @param branchId
 @return ApiGetProjectsProjectIdBranchesBranchIdSuggestReviewersRequest
*/
func (a *ProjectsAPIService) GetProjectsProjectIdBranchesBranchIdSuggestReviewers(ctx context.Context, projectId string, branchId string) ApiGetProjectsProjectIdBranchesBranchIdSuggestReviewersRequest {
	return ApiGetProjectsProjectIdBranchesBranchIdSuggestReviewersRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
		branchId: branchId,
	}
}

// Execute executes the request
//  @return []SuggestedReviewerInfo
func (a *ProjectsAPIService) GetProjectsProjectIdBranchesBranchIdSuggestReviewersExecute(r ApiGetProjectsProjectIdBranchesBranchIdSuggestReviewersRequest) ([]SuggestedReviewerInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []SuggestedReviewerInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.GetProjectsProjectIdBranchesBranchIdSuggestReviewers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/{project-id}/branches/{branch-id}/suggest_reviewers"
	localVarPath = strings.Replace(localVarPath, "{"+"project-id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"branch-id"+"}", url.PathEscape(parameterValueToString(r.branchId, "branchId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.excludeGroups != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exclude-groups", r.excludeGroups, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	}
	if r.reviewerState != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reviewer-state", r.reviewerState, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetProjectsProjectIdBranchesBranchIdValidationOptionsRequest struct {
	ctx context.Context
	ApiService *ProjectsAPIService
	projectId string
	branchId string
}

func (r ApiGetProjectsProjectIdBranchesBranchIdValidationOptionsRequest) Execute() (*ValidationOptionInfos, *http.Response, error) {
	return r.ApiService.GetProjectsProjectIdBranchesBranchIdValidationOptionsExecute(r)
}

/*
GetProjectsProjectIdBranchesBranchIdValidationOptions Get Validation Options

Retrieves the validation options applicable for the given project and branch.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @param branchId
 @return ApiGetProjectsProjectIdBranchesBranchIdValidationOptionsRequest
*/
func (a *ProjectsAPIService) GetProjectsProjectIdBranchesBranchIdValidationOptions(ctx context.Context, projectId string, branchId string) ApiGetProjectsProjectIdBranchesBranchIdValidationOptionsRequest {
	return ApiGetProjectsProjectIdBranchesBranchIdValidationOptionsRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
		branchId: branchId,
	}
}

// Execute executes the request
//  @return ValidationOptionInfos
func (a *ProjectsAPIService) GetProjectsProjectIdBranchesBranchIdValidationOptionsExecute(r ApiGetProjectsProjectIdBranchesBranchIdValidationOptionsRequest) (*ValidationOptionInfos, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ValidationOptionInfos
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.GetProjectsProjectIdBranchesBranchIdValidationOptions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/{project-id}/branches/{branch-id}/validation-options"
	localVarPath = strings.Replace(localVarPath, "{"+"project-id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"branch-id"+"}", url.PathEscape(parameterValueToString(r.branchId, "branchId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetProjectsProjectIdCheckAccessRequest struct {
	ctx context.Context
	ApiService *ProjectsAPIService
	projectId string
	account *string
	perm *string
	ref *string
}

func (r ApiGetProjectsProjectIdCheckAccessRequest) Account(account string) ApiGetProjectsProjectIdCheckAccessRequest {
	r.account = &account
	return r
}

func (r ApiGetProjectsProjectIdCheckAccessRequest) Perm(perm string) ApiGetProjectsProjectIdCheckAccessRequest {
	r.perm = &perm
	return r
}

func (r ApiGetProjectsProjectIdCheckAccessRequest) Ref(ref string) ApiGetProjectsProjectIdCheckAccessRequest {
	r.ref = &ref
	return r
}

func (r ApiGetProjectsProjectIdCheckAccessRequest) Execute() (*AccessCheckInfo, *http.Response, error) {
	return r.ApiService.GetProjectsProjectIdCheckAccessExecute(r)
}

/*
GetProjectsProjectIdCheckAccess Check Access

This command runs access checks for other users. This requires the View Access global capability.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @return ApiGetProjectsProjectIdCheckAccessRequest
*/
func (a *ProjectsAPIService) GetProjectsProjectIdCheckAccess(ctx context.Context, projectId string) ApiGetProjectsProjectIdCheckAccessRequest {
	return ApiGetProjectsProjectIdCheckAccessRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return AccessCheckInfo
func (a *ProjectsAPIService) GetProjectsProjectIdCheckAccessExecute(r ApiGetProjectsProjectIdCheckAccessRequest) (*AccessCheckInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccessCheckInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.GetProjectsProjectIdCheckAccess")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/{project-id}/check.access"
	localVarPath = strings.Replace(localVarPath, "{"+"project-id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.account != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "account", r.account, "form", "")
	}
	if r.perm != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "perm", r.perm, "form", "")
	}
	if r.ref != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ref", r.ref, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetProjectsProjectIdChildrenRequest struct {
	ctx context.Context
	ApiService *ProjectsAPIService
	projectId string
	limit *int32
	recursive *bool
}

func (r ApiGetProjectsProjectIdChildrenRequest) Limit(limit int32) ApiGetProjectsProjectIdChildrenRequest {
	r.limit = &limit
	return r
}

func (r ApiGetProjectsProjectIdChildrenRequest) Recursive(recursive bool) ApiGetProjectsProjectIdChildrenRequest {
	r.recursive = &recursive
	return r
}

func (r ApiGetProjectsProjectIdChildrenRequest) Execute() ([]ProjectInfo, *http.Response, error) {
	return r.ApiService.GetProjectsProjectIdChildrenExecute(r)
}

/*
GetProjectsProjectIdChildren List Child Projects

List the direct child projects of a project.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @return ApiGetProjectsProjectIdChildrenRequest
*/
func (a *ProjectsAPIService) GetProjectsProjectIdChildren(ctx context.Context, projectId string) ApiGetProjectsProjectIdChildrenRequest {
	return ApiGetProjectsProjectIdChildrenRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return []ProjectInfo
func (a *ProjectsAPIService) GetProjectsProjectIdChildrenExecute(r ApiGetProjectsProjectIdChildrenRequest) ([]ProjectInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ProjectInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.GetProjectsProjectIdChildren")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/{project-id}/children"
	localVarPath = strings.Replace(localVarPath, "{"+"project-id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.recursive != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "recursive", r.recursive, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetProjectsProjectIdChildrenChildProjectIdRequest struct {
	ctx context.Context
	ApiService *ProjectsAPIService
	projectId string
	childProjectId string
	recursive *bool
}

func (r ApiGetProjectsProjectIdChildrenChildProjectIdRequest) Recursive(recursive bool) ApiGetProjectsProjectIdChildrenChildProjectIdRequest {
	r.recursive = &recursive
	return r
}

func (r ApiGetProjectsProjectIdChildrenChildProjectIdRequest) Execute() (*ProjectInfo, *http.Response, error) {
	return r.ApiService.GetProjectsProjectIdChildrenChildProjectIdExecute(r)
}

/*
GetProjectsProjectIdChildrenChildProjectId Get Child Project

Retrieves a child project. If a non-direct child project should be retrieved the parameter recursive must be set.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @param childProjectId
 @return ApiGetProjectsProjectIdChildrenChildProjectIdRequest
*/
func (a *ProjectsAPIService) GetProjectsProjectIdChildrenChildProjectId(ctx context.Context, projectId string, childProjectId string) ApiGetProjectsProjectIdChildrenChildProjectIdRequest {
	return ApiGetProjectsProjectIdChildrenChildProjectIdRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
		childProjectId: childProjectId,
	}
}

// Execute executes the request
//  @return ProjectInfo
func (a *ProjectsAPIService) GetProjectsProjectIdChildrenChildProjectIdExecute(r ApiGetProjectsProjectIdChildrenChildProjectIdRequest) (*ProjectInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProjectInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.GetProjectsProjectIdChildrenChildProjectId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/{project-id}/children/{child-project-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"project-id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"child-project-id"+"}", url.PathEscape(parameterValueToString(r.childProjectId, "childProjectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.recursive != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "recursive", r.recursive, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetProjectsProjectIdCommitsCommitIdRequest struct {
	ctx context.Context
	ApiService *ProjectsAPIService
	projectId string
	commitId string
}

func (r ApiGetProjectsProjectIdCommitsCommitIdRequest) Execute() (*CommitInfo, *http.Response, error) {
	return r.ApiService.GetProjectsProjectIdCommitsCommitIdExecute(r)
}

/*
GetProjectsProjectIdCommitsCommitId Get Commit

Retrieves a commit of a project.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @param commitId
 @return ApiGetProjectsProjectIdCommitsCommitIdRequest
*/
func (a *ProjectsAPIService) GetProjectsProjectIdCommitsCommitId(ctx context.Context, projectId string, commitId string) ApiGetProjectsProjectIdCommitsCommitIdRequest {
	return ApiGetProjectsProjectIdCommitsCommitIdRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
		commitId: commitId,
	}
}

// Execute executes the request
//  @return CommitInfo
func (a *ProjectsAPIService) GetProjectsProjectIdCommitsCommitIdExecute(r ApiGetProjectsProjectIdCommitsCommitIdRequest) (*CommitInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CommitInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.GetProjectsProjectIdCommitsCommitId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/{project-id}/commits/{commit-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"project-id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"commit-id"+"}", url.PathEscape(parameterValueToString(r.commitId, "commitId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetProjectsProjectIdCommitsCommitIdDiffRequest struct {
	ctx context.Context
	ApiService *ProjectsAPIService
	projectId string
	commitId string
	base *string
	nameOnly *bool
}

func (r ApiGetProjectsProjectIdCommitsCommitIdDiffRequest) Base(base string) ApiGetProjectsProjectIdCommitsCommitIdDiffRequest {
	r.base = &base
	return r
}

func (r ApiGetProjectsProjectIdCommitsCommitIdDiffRequest) NameOnly(nameOnly bool) ApiGetProjectsProjectIdCommitsCommitIdDiffRequest {
	r.nameOnly = &nameOnly
	return r
}

func (r ApiGetProjectsProjectIdCommitsCommitIdDiffRequest) Execute() (*map[string]CommonFileInfo, *http.Response, error) {
	return r.ApiService.GetProjectsProjectIdCommitsCommitIdDiffExecute(r)
}

/*
GetProjectsProjectIdCommitsCommitIdDiff Diff Between Commits

Lists the files that differ between two commits. This is useful for comparing commits across multiple changes (similar to a pull request diff).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @param commitId
 @return ApiGetProjectsProjectIdCommitsCommitIdDiffRequest
*/
func (a *ProjectsAPIService) GetProjectsProjectIdCommitsCommitIdDiff(ctx context.Context, projectId string, commitId string) ApiGetProjectsProjectIdCommitsCommitIdDiffRequest {
	return ApiGetProjectsProjectIdCommitsCommitIdDiffRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
		commitId: commitId,
	}
}

// Execute executes the request
//  @return map[string]CommonFileInfo
func (a *ProjectsAPIService) GetProjectsProjectIdCommitsCommitIdDiffExecute(r ApiGetProjectsProjectIdCommitsCommitIdDiffRequest) (*map[string]CommonFileInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *map[string]CommonFileInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.GetProjectsProjectIdCommitsCommitIdDiff")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/{project-id}/commits/{commit-id}/diff"
	localVarPath = strings.Replace(localVarPath, "{"+"project-id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"commit-id"+"}", url.PathEscape(parameterValueToString(r.commitId, "commitId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.base != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "base", r.base, "form", "")
	}
	if r.nameOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name-only", r.nameOnly, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetProjectsProjectIdCommitsCommitIdFilesRequest struct {
	ctx context.Context
	ApiService *ProjectsAPIService
	projectId string
	commitId string
	parent *int32
}

func (r ApiGetProjectsProjectIdCommitsCommitIdFilesRequest) Parent(parent int32) ApiGetProjectsProjectIdCommitsCommitIdFilesRequest {
	r.parent = &parent
	return r
}

func (r ApiGetProjectsProjectIdCommitsCommitIdFilesRequest) Execute() (*map[string]CommonFileInfo, *http.Response, error) {
	return r.ApiService.GetProjectsProjectIdCommitsCommitIdFilesExecute(r)
}

/*
GetProjectsProjectIdCommitsCommitIdFiles List Files

Lists the files that were modified, added or deleted in a commit.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @param commitId
 @return ApiGetProjectsProjectIdCommitsCommitIdFilesRequest
*/
func (a *ProjectsAPIService) GetProjectsProjectIdCommitsCommitIdFiles(ctx context.Context, projectId string, commitId string) ApiGetProjectsProjectIdCommitsCommitIdFilesRequest {
	return ApiGetProjectsProjectIdCommitsCommitIdFilesRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
		commitId: commitId,
	}
}

// Execute executes the request
//  @return map[string]CommonFileInfo
func (a *ProjectsAPIService) GetProjectsProjectIdCommitsCommitIdFilesExecute(r ApiGetProjectsProjectIdCommitsCommitIdFilesRequest) (*map[string]CommonFileInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *map[string]CommonFileInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.GetProjectsProjectIdCommitsCommitIdFiles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/{project-id}/commits/{commit-id}/files"
	localVarPath = strings.Replace(localVarPath, "{"+"project-id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"commit-id"+"}", url.PathEscape(parameterValueToString(r.commitId, "commitId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.parent != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "parent", r.parent, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetProjectsProjectIdCommitsCommitIdFilesFileIdContentRequest struct {
	ctx context.Context
	ApiService *ProjectsAPIService
	projectId string
	commitId string
	fileId string
}

func (r ApiGetProjectsProjectIdCommitsCommitIdFilesFileIdContentRequest) Execute() (*os.File, *http.Response, error) {
	return r.ApiService.GetProjectsProjectIdCommitsCommitIdFilesFileIdContentExecute(r)
}

/*
GetProjectsProjectIdCommitsCommitIdFilesFileIdContent Get Content

Gets the content of a file from a certain commit.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @param commitId
 @param fileId
 @return ApiGetProjectsProjectIdCommitsCommitIdFilesFileIdContentRequest
*/
func (a *ProjectsAPIService) GetProjectsProjectIdCommitsCommitIdFilesFileIdContent(ctx context.Context, projectId string, commitId string, fileId string) ApiGetProjectsProjectIdCommitsCommitIdFilesFileIdContentRequest {
	return ApiGetProjectsProjectIdCommitsCommitIdFilesFileIdContentRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
		commitId: commitId,
		fileId: fileId,
	}
}

// Execute executes the request
//  @return *os.File
func (a *ProjectsAPIService) GetProjectsProjectIdCommitsCommitIdFilesFileIdContentExecute(r ApiGetProjectsProjectIdCommitsCommitIdFilesFileIdContentRequest) (*os.File, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *os.File
	)
[...]
