/*
Gerrit Code Review REST API

The Gerrit Code Review REST API. Paths, parameters, and payload schemas are generated statically from the server's REST bindings; human-authored summaries and descriptions are supplied here and merged in at build time.

API version: 3.15.0-SNAPSHOT
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gerritclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
	"os"
)


// ChangesAPIService ChangesAPI service
type ChangesAPIService service

type ApiDeleteChangesChangeIdRequest struct {
	ctx context.Context
	ApiService *ChangesAPIService
	changeId string
}

func (r ApiDeleteChangesChangeIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteChangesChangeIdExecute(r)
}

/*
DeleteChangesChangeId Delete Change

Deletes a change.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeId
 @return ApiDeleteChangesChangeIdRequest
*/
func (a *ChangesAPIService) DeleteChangesChangeId(ctx context.Context, changeId string) ApiDeleteChangesChangeIdRequest {
	return ApiDeleteChangesChangeIdRequest{
		ApiService: a,
		ctx: ctx,
		changeId: changeId,
	}
}

// Execute executes the request
func (a *ChangesAPIService) DeleteChangesChangeIdExecute(r ApiDeleteChangesChangeIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangesAPIService.DeleteChangesChangeId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/changes/{change-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"change-id"+"}", url.PathEscape(parameterValueToString(r.changeId, "changeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeleteChangesChangeIdAttentionAttentionSetEntryIdRequest struct {
	ctx context.Context
	ApiService *ChangesAPIService
	changeId string
	attentionSetEntryId string
}

func (r ApiDeleteChangesChangeIdAttentionAttentionSetEntryIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteChangesChangeIdAttentionAttentionSetEntryIdExecute(r)
}

/*
DeleteChangesChangeIdAttentionAttentionSetEntryId Remove from Attention Set

'POST /changes/\{change-id\}/attention/\{account-id\}/delete' --

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeId
 @param attentionSetEntryId
 @return ApiDeleteChangesChangeIdAttentionAttentionSetEntryIdRequest
*/
func (a *ChangesAPIService) DeleteChangesChangeIdAttentionAttentionSetEntryId(ctx context.Context, changeId string, attentionSetEntryId string) ApiDeleteChangesChangeIdAttentionAttentionSetEntryIdRequest {
	return ApiDeleteChangesChangeIdAttentionAttentionSetEntryIdRequest{
		ApiService: a,
		ctx: ctx,
		changeId: changeId,
		attentionSetEntryId: attentionSetEntryId,
	}
}

// Execute executes the request
func (a *ChangesAPIService) DeleteChangesChangeIdAttentionAttentionSetEntryIdExecute(r ApiDeleteChangesChangeIdAttentionAttentionSetEntryIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangesAPIService.DeleteChangesChangeIdAttentionAttentionSetEntryId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/changes/{change-id}/attention/{attention-set-entry-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"change-id"+"}", url.PathEscape(parameterValueToString(r.changeId, "changeId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"attention-set-entry-id"+"}", url.PathEscape(parameterValueToString(r.attentionSetEntryId, "attentionSetEntryId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeleteChangesChangeIdEditRequest struct {
	ctx context.Context
	ApiService *ChangesAPIService
	changeId string
}

func (r ApiDeleteChangesChangeIdEditRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteChangesChangeIdEditExecute(r)
}

/*
DeleteChangesChangeIdEdit Delete Change Edit

Deletes change edit.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeId
 @return ApiDeleteChangesChangeIdEditRequest
*/
func (a *ChangesAPIService) DeleteChangesChangeIdEdit(ctx context.Context, changeId string) ApiDeleteChangesChangeIdEditRequest {
	return ApiDeleteChangesChangeIdEditRequest{
		ApiService: a,
		ctx: ctx,
		changeId: changeId,
	}
}

// Execute executes the request
func (a *ChangesAPIService) DeleteChangesChangeIdEditExecute(r ApiDeleteChangesChangeIdEditRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangesAPIService.DeleteChangesChangeIdEdit")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/changes/{change-id}/edit"
	localVarPath = strings.Replace(localVarPath, "{"+"change-id"+"}", url.PathEscape(parameterValueToString(r.changeId, "changeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeleteChangesChangeIdEditChangeEditIdRequest struct {
	ctx context.Context
	ApiService *ChangesAPIService
	changeId string
	changeEditId string
}

func (r ApiDeleteChangesChangeIdEditChangeEditIdRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.DeleteChangesChangeIdEditChangeEditIdExecute(r)
}

/*
DeleteChangesChangeIdEditChangeEditId Delete file in Change Edit

Deletes a file from a change edit. This deletes the file from the repository completely. This is not the same as reverting or restoring a file to its previous contents.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeId
 @param changeEditId
 @return ApiDeleteChangesChangeIdEditChangeEditIdRequest
*/
func (a *ChangesAPIService) DeleteChangesChangeIdEditChangeEditId(ctx context.Context, changeId string, changeEditId string) ApiDeleteChangesChangeIdEditChangeEditIdRequest {
	return ApiDeleteChangesChangeIdEditChangeEditIdRequest{
		ApiService: a,
		ctx: ctx,
		changeId: changeId,
		changeEditId: changeEditId,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ChangesAPIService) DeleteChangesChangeIdEditChangeEditIdExecute(r ApiDeleteChangesChangeIdEditChangeEditIdRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangesAPIService.DeleteChangesChangeIdEditChangeEditId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/changes/{change-id}/edit/{change-edit-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"change-id"+"}", url.PathEscape(parameterValueToString(r.changeId, "changeId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"change-edit-id"+"}", url.PathEscape(parameterValueToString(r.changeEditId, "changeEditId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v map[string]interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteChangesChangeIdFlowsFlowIdRequest struct {
	ctx context.Context
	ApiService *ChangesAPIService
	changeId string
	flowId string
}

func (r ApiDeleteChangesChangeIdFlowsFlowIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteChangesChangeIdFlowsFlowIdExecute(r)
}

/*
DeleteChangesChangeIdFlowsFlowId Delete Flow

Delete a flow on the change.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeId
 @param flowId
 @return ApiDeleteChangesChangeIdFlowsFlowIdRequest
*/
func (a *ChangesAPIService) DeleteChangesChangeIdFlowsFlowId(ctx context.Context, changeId string, flowId string) ApiDeleteChangesChangeIdFlowsFlowIdRequest {
	return ApiDeleteChangesChangeIdFlowsFlowIdRequest{
		ApiService: a,
		ctx: ctx,
		changeId: changeId,
		flowId: flowId,
	}
}

// Execute executes the request
func (a *ChangesAPIService) DeleteChangesChangeIdFlowsFlowIdExecute(r ApiDeleteChangesChangeIdFlowsFlowIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangesAPIService.DeleteChangesChangeIdFlowsFlowId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/changes/{change-id}/flows/{flow-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"change-id"+"}", url.PathEscape(parameterValueToString(r.changeId, "changeId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"flow-id"+"}", url.PathEscape(parameterValueToString(r.flowId, "flowId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeleteChangesChangeIdMessagesChangeMessageIdRequest struct {
	ctx context.Context
	ApiService *ChangesAPIService
	changeId string
	changeMessageId string
}

func (r ApiDeleteChangesChangeIdMessagesChangeMessageIdRequest) Execute() (*ChangeMessageInfo, *http.Response, error) {
	return r.ApiService.DeleteChangesChangeIdMessagesChangeMessageIdExecute(r)
}

/*
DeleteChangesChangeIdMessagesChangeMessageId Delete Change Message

'POST /changes/\{change-id\}/messages/\{change-message-id\}/delete' --

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeId
 @param changeMessageId
 @return ApiDeleteChangesChangeIdMessagesChangeMessageIdRequest
*/
func (a *ChangesAPIService) DeleteChangesChangeIdMessagesChangeMessageId(ctx context.Context, changeId string, changeMessageId string) ApiDeleteChangesChangeIdMessagesChangeMessageIdRequest {
	return ApiDeleteChangesChangeIdMessagesChangeMessageIdRequest{
		ApiService: a,
		ctx: ctx,
		changeId: changeId,
		changeMessageId: changeMessageId,
	}
}

// Execute executes the request
//  @return ChangeMessageInfo
func (a *ChangesAPIService) DeleteChangesChangeIdMessagesChangeMessageIdExecute(r ApiDeleteChangesChangeIdMessagesChangeMessageIdRequest) (*ChangeMessageInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ChangeMessageInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangesAPIService.DeleteChangesChangeIdMessagesChangeMessageId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/changes/{change-id}/messages/{change-message-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"change-id"+"}", url.PathEscape(parameterValueToString(r.changeId, "changeId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"change-message-id"+"}", url.PathEscape(parameterValueToString(r.changeMessageId, "changeMessageId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ChangeMessageInfo
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteChangesChangeIdPrivateRequest struct {
	ctx context.Context
	ApiService *ChangesAPIService
	changeId string
}

func (r ApiDeleteChangesChangeIdPrivateRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteChangesChangeIdPrivateExecute(r)
}

/*
DeleteChangesChangeIdPrivate Unmark Private

Marks the change to be non-private. Note users can only unmark own private changes.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeId
 @return ApiDeleteChangesChangeIdPrivateRequest
*/
func (a *ChangesAPIService) DeleteChangesChangeIdPrivate(ctx context.Context, changeId string) ApiDeleteChangesChangeIdPrivateRequest {
	return ApiDeleteChangesChangeIdPrivateRequest{
		ApiService: a,
		ctx: ctx,
		changeId: changeId,
	}
}

// Execute executes the request
func (a *ChangesAPIService) DeleteChangesChangeIdPrivateExecute(r ApiDeleteChangesChangeIdPrivateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangesAPIService.DeleteChangesChangeIdPrivate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/changes/{change-id}/private"
	localVarPath = strings.Replace(localVarPath, "{"+"change-id"+"}", url.PathEscape(parameterValueToString(r.changeId, "changeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeleteChangesChangeIdRevisionsRevisionIdCommentsCommentIdRequest struct {
	ctx context.Context
	ApiService *ChangesAPIService
	changeId string
	revisionId string
	commentId string
}

func (r ApiDeleteChangesChangeIdRevisionsRevisionIdCommentsCommentIdRequest) Execute() (*CommentInfo, *http.Response, error) {
	return r.ApiService.DeleteChangesChangeIdRevisionsRevisionIdCommentsCommentIdExecute(r)
}

/*
DeleteChangesChangeIdRevisionsRevisionIdCommentsCommentId Delete Comment

'POST /changes/\{change-id\}/revisions/\{revision-id\}/comments/\{comment-id\}/delete' --

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeId
 @param revisionId
 @param commentId
 @return ApiDeleteChangesChangeIdRevisionsRevisionIdCommentsCommentIdRequest
*/
func (a *ChangesAPIService) DeleteChangesChangeIdRevisionsRevisionIdCommentsCommentId(ctx context.Context, changeId string, revisionId string, commentId string) ApiDeleteChangesChangeIdRevisionsRevisionIdCommentsCommentIdRequest {
	return ApiDeleteChangesChangeIdRevisionsRevisionIdCommentsCommentIdRequest{
		ApiService: a,
		ctx: ctx,
		changeId: changeId,
		revisionId: revisionId,
		commentId: commentId,
	}
}

// Execute executes the request
//  @return CommentInfo
func (a *ChangesAPIService) DeleteChangesChangeIdRevisionsRevisionIdCommentsCommentIdExecute(r ApiDeleteChangesChangeIdRevisionsRevisionIdCommentsCommentIdRequest) (*CommentInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CommentInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangesAPIService.DeleteChangesChangeIdRevisionsRevisionIdCommentsCommentId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/changes/{change-id}/revisions/{revision-id}/comments/{comment-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"change-id"+"}", url.PathEscape(parameterValueToString(r.changeId, "changeId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"revision-id"+"}", url.PathEscape(parameterValueToString(r.revisionId, "revisionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"comment-id"+"}", url.PathEscape(parameterValueToString(r.commentId, "commentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteChangesChangeIdRevisionsRevisionIdDraftsDraftCommentIdRequest struct {
	ctx context.Context
	ApiService *ChangesAPIService
	changeId string
	revisionId string
	draftCommentId string
}

func (r ApiDeleteChangesChangeIdRevisionsRevisionIdDraftsDraftCommentIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteChangesChangeIdRevisionsRevisionIdDraftsDraftCommentIdExecute(r)
}

/*
DeleteChangesChangeIdRevisionsRevisionIdDraftsDraftCommentId Delete Draft

Deletes a draft comment from a revision.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeId
 @param revisionId
 @param draftCommentId
 @return ApiDeleteChangesChangeIdRevisionsRevisionIdDraftsDraftCommentIdRequest
*/
func (a *ChangesAPIService) DeleteChangesChangeIdRevisionsRevisionIdDraftsDraftCommentId(ctx context.Context, changeId string, revisionId string, draftCommentId string) ApiDeleteChangesChangeIdRevisionsRevisionIdDraftsDraftCommentIdRequest {
	return ApiDeleteChangesChangeIdRevisionsRevisionIdDraftsDraftCommentIdRequest{
		ApiService: a,
		ctx: ctx,
		changeId: changeId,
		revisionId: revisionId,
		draftCommentId: draftCommentId,
	}
}

// Execute executes the request
func (a *ChangesAPIService) DeleteChangesChangeIdRevisionsRevisionIdDraftsDraftCommentIdExecute(r ApiDeleteChangesChangeIdRevisionsRevisionIdDraftsDraftCommentIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangesAPIService.DeleteChangesChangeIdRevisionsRevisionIdDraftsDraftCommentId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/changes/{change-id}/revisions/{revision-id}/drafts/{draft-comment-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"change-id"+"}", url.PathEscape(parameterValueToString(r.changeId, "changeId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"revision-id"+"}", url.PathEscape(parameterValueToString(r.revisionId, "revisionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"draft-comment-id"+"}", url.PathEscape(parameterValueToString(r.draftCommentId, "draftCommentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeleteChangesChangeIdRevisionsRevisionIdFilesFileIdReviewedRequest struct {
	ctx context.Context
	ApiService *ChangesAPIService
	changeId string
	revisionId string
	fileId string
}

func (r ApiDeleteChangesChangeIdRevisionsRevisionIdFilesFileIdReviewedRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteChangesChangeIdRevisionsRevisionIdFilesFileIdReviewedExecute(r)
}

/*
DeleteChangesChangeIdRevisionsRevisionIdFilesFileIdReviewed Delete Reviewed

Deletes the reviewed flag of the calling user from a file of a revision.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeId
 @param revisionId
 @param fileId
 @return ApiDeleteChangesChangeIdRevisionsRevisionIdFilesFileIdReviewedRequest
*/
func (a *ChangesAPIService) DeleteChangesChangeIdRevisionsRevisionIdFilesFileIdReviewed(ctx context.Context, changeId string, revisionId string, fileId string) ApiDeleteChangesChangeIdRevisionsRevisionIdFilesFileIdReviewedRequest {
	return ApiDeleteChangesChangeIdRevisionsRevisionIdFilesFileIdReviewedRequest{
		ApiService: a,
		ctx: ctx,
		changeId: changeId,
		revisionId: revisionId,
		fileId: fileId,
	}
}

// Execute executes the request
func (a *ChangesAPIService) DeleteChangesChangeIdRevisionsRevisionIdFilesFileIdReviewedExecute(r ApiDeleteChangesChangeIdRevisionsRevisionIdFilesFileIdReviewedRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangesAPIService.DeleteChangesChangeIdRevisionsRevisionIdFilesFileIdReviewed")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/changes/{change-id}/revisions/{revision-id}/files/{file-id}/reviewed"
	localVarPath = strings.Replace(localVarPath, "{"+"change-id"+"}", url.PathEscape(parameterValueToString(r.changeId, "changeId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"revision-id"+"}", url.PathEscape(parameterValueToString(r.revisionId, "revisionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"file-id"+"}", url.PathEscape(parameterValueToString(r.fileId, "fileId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeleteChangesChangeIdRevisionsRevisionIdReviewersReviewerIdRequest struct {
	ctx context.Context
	ApiService *ChangesAPIService
	changeId string
	revisionId string
	reviewerId string
}

func (r ApiDeleteChangesChangeIdRevisionsRevisionIdReviewersReviewerIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteChangesChangeIdRevisionsRevisionIdReviewersReviewerIdExecute(r)
}

/*
DeleteChangesChangeIdRevisionsRevisionIdReviewersReviewerId Method for DeleteChangesChangeIdRevisionsRevisionIdReviewersReviewerId

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeId
 @param revisionId
 @param reviewerId
 @return ApiDeleteChangesChangeIdRevisionsRevisionIdReviewersReviewerIdRequest
*/
func (a *ChangesAPIService) DeleteChangesChangeIdRevisionsRevisionIdReviewersReviewerId(ctx context.Context, changeId string, revisionId string, reviewerId string) ApiDeleteChangesChangeIdRevisionsRevisionIdReviewersReviewerIdRequest {
	return ApiDeleteChangesChangeIdRevisionsRevisionIdReviewersReviewerIdRequest{
		ApiService: a,
		ctx: ctx,
		changeId: changeId,
		revisionId: revisionId,
		reviewerId: reviewerId,
	}
}

// Execute executes the request
func (a *ChangesAPIService) DeleteChangesChangeIdRevisionsRevisionIdReviewersReviewerIdExecute(r ApiDeleteChangesChangeIdRevisionsRevisionIdReviewersReviewerIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangesAPIService.DeleteChangesChangeIdRevisionsRevisionIdReviewersReviewerId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/changes/{change-id}/revisions/{revision-id}/reviewers/{reviewer-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"change-id"+"}", url.PathEscape(parameterValueToString(r.changeId, "changeId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"revision-id"+"}", url.PathEscape(parameterValueToString(r.revisionId, "revisionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"reviewer-id"+"}", url.PathEscape(parameterValueToString(r.reviewerId, "reviewerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeleteChangesChangeIdRevisionsRevisionIdReviewersReviewerIdVotesVoteIdRequest struct {
	ctx context.Context
	ApiService *ChangesAPIService
	changeId string
	revisionId string
	reviewerId string
	voteId string
}

func (r ApiDeleteChangesChangeIdRevisionsRevisionIdReviewersReviewerIdVotesVoteIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteChangesChangeIdRevisionsRevisionIdReviewersReviewerIdVotesVoteIdExecute(r)
}

/*
DeleteChangesChangeIdRevisionsRevisionIdReviewersReviewerIdVotesVoteId Method for DeleteChangesChangeIdRevisionsRevisionIdReviewersReviewerIdVotesVoteId

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeId
 @param revisionId
 @param reviewerId
 @param voteId
 @return ApiDeleteChangesChangeIdRevisionsRevisionIdReviewersReviewerIdVotesVoteIdRequest
*/
func (a *ChangesAPIService) DeleteChangesChangeIdRevisionsRevisionIdReviewersReviewerIdVotesVoteId(ctx context.Context, changeId string, revisionId string, reviewerId string, voteId string) ApiDeleteChangesChangeIdRevisionsRevisionIdReviewersReviewerIdVotesVoteIdRequest {
	return ApiDeleteChangesChangeIdRevisionsRevisionIdReviewersReviewerIdVotesVoteIdRequest{
		ApiService: a,
		ctx: ctx,
		changeId: changeId,
		revisionId: revisionId,
		reviewerId: reviewerId,
		voteId: voteId,
	}
}

// Execute executes the request
func (a *ChangesAPIService) DeleteChangesChangeIdRevisionsRevisionIdReviewersReviewerIdVotesVoteIdExecute(r ApiDeleteChangesChangeIdRevisionsRevisionIdReviewersReviewerIdVotesVoteIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangesAPIService.DeleteChangesChangeIdRevisionsRevisionIdReviewersReviewerIdVotesVoteId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/changes/{change-id}/revisions/{revision-id}/reviewers/{reviewer-id}/votes/{vote-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"change-id"+"}", url.PathEscape(parameterValueToString(r.changeId, "changeId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"revision-id"+"}", url.PathEscape(parameterValueToString(r.revisionId, "revisionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"reviewer-id"+"}", url.PathEscape(parameterValueToString(r.reviewerId, "reviewerId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"vote-id"+"}", url.PathEscape(parameterValueToString(r.voteId, "voteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeleteChangesChangeIdTopicRequest struct {
	ctx context.Context
	ApiService *ChangesAPIService
	changeId string
}

func (r ApiDeleteChangesChangeIdTopicRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.DeleteChangesChangeIdTopicExecute(r)
}

/*
DeleteChangesChangeIdTopic Delete Topic

Deletes the topic of a change.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeId
 @return ApiDeleteChangesChangeIdTopicRequest
*/
func (a *ChangesAPIService) DeleteChangesChangeIdTopic(ctx context.Context, changeId string) ApiDeleteChangesChangeIdTopicRequest {
	return ApiDeleteChangesChangeIdTopicRequest{
		ApiService: a,
		ctx: ctx,
		changeId: changeId,
	}
}

// Execute executes the request
//  @return string
func (a *ChangesAPIService) DeleteChangesChangeIdTopicExecute(r ApiDeleteChangesChangeIdTopicRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangesAPIService.DeleteChangesChangeIdTopic")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/changes/{change-id}/topic"
	localVarPath = strings.Replace(localVarPath, "{"+"change-id"+"}", url.PathEscape(parameterValueToString(r.changeId, "changeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetChangesRequest struct {
	ctx context.Context
	ApiService *ChangesAPIService
	o *string
	allowIncompleteResults *bool
	limit *int32
	noLimit *bool
	o2 *[]string
	query *[]string
	skipVisibility *bool
	start *int32
}

func (r ApiGetChangesRequest) O(o string) ApiGetChangesRequest {
	r.o = &o
	return r
}

func (r ApiGetChangesRequest) AllowIncompleteResults(allowIncompleteResults bool) ApiGetChangesRequest {
	r.allowIncompleteResults = &allowIncompleteResults
	return r
}

func (r ApiGetChangesRequest) Limit(limit int32) ApiGetChangesRequest {
	r.limit = &limit
	return r
}

func (r ApiGetChangesRequest) NoLimit(noLimit bool) ApiGetChangesRequest {
	r.noLimit = &noLimit
	return r
}

func (r ApiGetChangesRequest) O2(o2 []string) ApiGetChangesRequest {
	r.o2 = &o2
	return r
}

func (r ApiGetChangesRequest) Query(query []string) ApiGetChangesRequest {
	r.query = &query
	return r
}

func (r ApiGetChangesRequest) SkipVisibility(skipVisibility bool) ApiGetChangesRequest {
	r.skipVisibility = &skipVisibility
	return r
}

func (r ApiGetChangesRequest) Start(start int32) ApiGetChangesRequest {
	r.start = &start
	return r
}

func (r ApiGetChangesRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.GetChangesExecute(r)
}

/*
GetChanges Query changes

Queries changes visible to the caller. The query is given by the repeatable query parameter; use limit/start to page and o to request extra fields.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetChangesRequest
*/
func (a *ChangesAPIService) GetChanges(ctx context.Context) ApiGetChangesRequest {
	return ApiGetChangesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []map[string]interface{}
func (a *ChangesAPIService) GetChangesExecute(r ApiGetChangesRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangesAPIService.GetChanges")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/changes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.o != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "O", r.o, "form", "")
	}
	if r.allowIncompleteResults != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow-incomplete-results", r.allowIncompleteResults, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.noLimit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "no-limit", r.noLimit, "form", "")
	}
	if r.o2 != nil {
		t := *r.o2
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "o", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "o", t, "form", "multi")
		}
	}
	if r.query != nil {
		t := *r.query
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "query", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "query", t, "form", "multi")
		}
	}
	if r.skipVisibility != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip-visibility", r.skipVisibility, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetChangesChangeIdRequest struct {
	ctx context.Context
	ApiService *ChangesAPIService
	changeId string
	o *string
	meta *string
	o2 *[]string
}

func (r ApiGetChangesChangeIdRequest) O(o string) ApiGetChangesChangeIdRequest {
	r.o = &o
	return r
}

func (r ApiGetChangesChangeIdRequest) Meta(meta string) ApiGetChangesChangeIdRequest {
	r.meta = &meta
	return r
}

func (r ApiGetChangesChangeIdRequest) O2(o2 []string) ApiGetChangesChangeIdRequest {
	r.o2 = &o2
	return r
}

func (r ApiGetChangesChangeIdRequest) Execute() (*ChangeInfo, *http.Response, error) {
	return r.ApiService.GetChangesChangeIdExecute(r)
}

/*
GetChangesChangeId Get change

Retrieves a single change as a ChangeInfo entity; request additional data with the o parameter.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeId
 @return ApiGetChangesChangeIdRequest
*/
func (a *ChangesAPIService) GetChangesChangeId(ctx context.Context, changeId string) ApiGetChangesChangeIdRequest {
	return ApiGetChangesChangeIdRequest{
		ApiService: a,
		ctx: ctx,
		changeId: changeId,
	}
}

// Execute executes the request
//  @return ChangeInfo
func (a *ChangesAPIService) GetChangesChangeIdExecute(r ApiGetChangesChangeIdRequest) (*ChangeInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ChangeInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangesAPIService.GetChangesChangeId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/changes/{change-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"change-id"+"}", url.PathEscape(parameterValueToString(r.changeId, "changeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.o != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "O", r.o, "form", "")
	}
	if r.meta != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "meta", r.meta, "form", "")
	}
	if r.o2 != nil {
		t := *r.o2
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "o", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "o", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetChangesChangeIdAttentionRequest struct {
	ctx context.Context
	ApiService *ChangesAPIService
	changeId string
}

func (r ApiGetChangesChangeIdAttentionRequest) Execute() ([]AttentionSetInfo, *http.Response, error) {
	return r.ApiService.GetChangesChangeIdAttentionExecute(r)
}

/*
GetChangesChangeIdAttention Get Attention Set

Returns all users that are currently in the attention set. As response a list of AttentionSetInfo entity is returned.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeId
 @return ApiGetChangesChangeIdAttentionRequest
*/
func (a *ChangesAPIService) GetChangesChangeIdAttention(ctx context.Context, changeId string) ApiGetChangesChangeIdAttentionRequest {
	return ApiGetChangesChangeIdAttentionRequest{
		ApiService: a,
		ctx: ctx,
		changeId: changeId,
	}
}

// Execute executes the request
//  @return []AttentionSetInfo
func (a *ChangesAPIService) GetChangesChangeIdAttentionExecute(r ApiGetChangesChangeIdAttentionRequest) ([]AttentionSetInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []AttentionSetInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangesAPIService.GetChangesChangeIdAttention")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/changes/{change-id}/attention"
	localVarPath = strings.Replace(localVarPath, "{"+"change-id"+"}", url.PathEscape(parameterValueToString(r.changeId, "changeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetChangesChangeIdCheckRequest struct {
	ctx context.Context
	ApiService *ChangesAPIService
	changeId string
}

func (r ApiGetChangesChangeIdCheckRequest) Execute() (*ChangeInfo, *http.Response, error) {
	return r.ApiService.GetChangesChangeIdCheckExecute(r)
}

/*
GetChangesChangeIdCheck Check Change

Performs consistency checks on the change, and returns a ChangeInfo entity with the problems field set to a list of ProblemInfo entities.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeId
 @return ApiGetChangesChangeIdCheckRequest
*/
func (a *ChangesAPIService) GetChangesChangeIdCheck(ctx context.Context, changeId string) ApiGetChangesChangeIdCheckRequest {
	return ApiGetChangesChangeIdCheckRequest{
		ApiService: a,
		ctx: ctx,
		changeId: changeId,
	}
}

// Execute executes the request
//  @return ChangeInfo
func (a *ChangesAPIService) GetChangesChangeIdCheckExecute(r ApiGetChangesChangeIdCheckRequest) (*ChangeInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ChangeInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangesAPIService.GetChangesChangeIdCheck")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/changes/{change-id}/check"
	localVarPath = strings.Replace(localVarPath, "{"+"change-id"+"}", url.PathEscape(parameterValueToString(r.changeId, "changeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetChangesChangeIdCommentsRequest struct {
	ctx context.Context
	ApiService *ChangesAPIService
	changeId string
	contextPadding *int32
	enableContext *bool
}

func (r ApiGetChangesChangeIdCommentsRequest) ContextPadding(contextPadding int32) ApiGetChangesChangeIdCommentsRequest {
	r.contextPadding = &contextPadding
	return r
}

func (r ApiGetChangesChangeIdCommentsRequest) EnableContext(enableContext bool) ApiGetChangesChangeIdCommentsRequest {
	r.enableContext = &enableContext
	return r
}

func (r ApiGetChangesChangeIdCommentsRequest) Execute() (*map[string][]CommentInfo, *http.Response, error) {
	return r.ApiService.GetChangesChangeIdCommentsExecute(r)
}

/*
GetChangesChangeIdComments List change comments

Lists the published comments of all revisions of a change, grouped by file path.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeId
 @return ApiGetChangesChangeIdCommentsRequest
*/
func (a *ChangesAPIService) GetChangesChangeIdComments(ctx context.Context, changeId string) ApiGetChangesChangeIdCommentsRequest {
	return ApiGetChangesChangeIdCommentsRequest{
		ApiService: a,
		ctx: ctx,
		changeId: changeId,
	}
}

// Execute executes the request
//  @return map[string][]CommentInfo
func (a *ChangesAPIService) GetChangesChangeIdCommentsExecute(r ApiGetChangesChangeIdCommentsRequest) (*map[string][]CommentInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *map[string][]CommentInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangesAPIService.GetChangesChangeIdComments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/changes/{change-id}/comments"
	localVarPath = strings.Replace(localVarPath, "{"+"change-id"+"}", url.PathEscape(parameterValueToString(r.changeId, "changeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contextPadding != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context-padding", r.contextPadding, "form", "")
	}
	if r.enableContext != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "enable-context", r.enableContext, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetChangesChangeIdCustomKeyedValuesRequest struct {
	ctx context.Context
	ApiService *ChangesAPIService
	changeId string
}

func (r ApiGetChangesChangeIdCustomKeyedValuesRequest) Execute() (map[string]string, *http.Response, error) {
	return r.ApiService.GetChangesChangeIdCustomKeyedValuesExecute(r)
}

/*
GetChangesChangeIdCustomKeyedValues Get Custom Keyed Values

Gets the custom keyed values associated with a change.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeId
 @return ApiGetChangesChangeIdCustomKeyedValuesRequest
*/
func (a *ChangesAPIService) GetChangesChangeIdCustomKeyedValues(ctx context.Context, changeId string) ApiGetChangesChangeIdCustomKeyedValuesRequest {
	return ApiGetChangesChangeIdCustomKeyedValuesRequest{
		ApiService: a,
		ctx: ctx,
		changeId: changeId,
	}
}

// Execute executes the request
//  @return map[string]string
func (a *ChangesAPIService) GetChangesChangeIdCustomKeyedValuesExecute(r ApiGetChangesChangeIdCustomKeyedValuesRequest) (map[string]string, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangesAPIService.GetChangesChangeIdCustomKeyedValues")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/changes/{change-id}/custom_keyed_values"
	localVarPath = strings.Replace(localVarPath, "{"+"change-id"+"}", url.PathEscape(parameterValueToString(r.changeId, "changeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetChangesChangeIdDetailRequest struct {
	ctx context.Context
	ApiService *ChangesAPIService
	changeId string
	o *string
	o2 *[]string
}

func (r ApiGetChangesChangeIdDetailRequest) O(o string) ApiGetChangesChangeIdDetailRequest {
	r.o = &o
	return r
}

func (r ApiGetChangesChangeIdDetailRequest) O2(o2 []string) ApiGetChangesChangeIdDetailRequest {
	r.o2 = &o2
	return r
}

func (r ApiGetChangesChangeIdDetailRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetChangesChangeIdDetailExecute(r)
}

/*
GetChangesChangeIdDetail Get change detail

Retrieves a change with labels, detailed labels, detailed accounts, reviewer updates, and messages.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeId
 @return ApiGetChangesChangeIdDetailRequest
*/
func (a *ChangesAPIService) GetChangesChangeIdDetail(ctx context.Context, changeId string) ApiGetChangesChangeIdDetailRequest {
	return ApiGetChangesChangeIdDetailRequest{
		ApiService: a,
		ctx: ctx,
		changeId: changeId,
	}
}

// Execute executes the request
func (a *ChangesAPIService) GetChangesChangeIdDetailExecute(r ApiGetChangesChangeIdDetailRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangesAPIService.GetChangesChangeIdDetail")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/changes/{change-id}/detail"
	localVarPath = strings.Replace(localVarPath, "{"+"change-id"+"}", url.PathEscape(parameterValueToString(r.changeId, "changeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.o != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "O", r.o, "form", "")
	}
	if r.o2 != nil {
		t := *r.o2
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "o", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "o", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ChangeInfo
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetChangesChangeIdDraftsRequest struct {
	ctx context.Context
	ApiService *ChangesAPIService
	changeId string
	contextPadding *int32
	enableContext *bool
}

func (r ApiGetChangesChangeIdDraftsRequest) ContextPadding(contextPadding int32) ApiGetChangesChangeIdDraftsRequest {
	r.contextPadding = &contextPadding
	return r
}

func (r ApiGetChangesChangeIdDraftsRequest) EnableContext(enableContext bool) ApiGetChangesChangeIdDraftsRequest {
	r.enableContext = &enableContext
	return r
}

func (r ApiGetChangesChangeIdDraftsRequest) Execute() (*map[string][]CommentInfo, *http.Response, error) {
	return r.ApiService.GetChangesChangeIdDraftsExecute(r)
}

/*
GetChangesChangeIdDrafts List Change Drafts

Lists the draft comments of all revisions of the change that belong to the calling user.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeId
 @return ApiGetChangesChangeIdDraftsRequest
*/
func (a *ChangesAPIService) GetChangesChangeIdDrafts(ctx context.Context, changeId string) ApiGetChangesChangeIdDraftsRequest {
	return ApiGetChangesChangeIdDraftsRequest{
		ApiService: a,
		ctx: ctx,
		changeId: changeId,
	}
}

// Execute executes the request
//  @return map[string][]CommentInfo
func (a *ChangesAPIService) GetChangesChangeIdDraftsExecute(r ApiGetChangesChangeIdDraftsRequest) (*map[string][]CommentInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *map[string][]CommentInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangesAPIService.GetChangesChangeIdDrafts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/changes/{change-id}/drafts"
	localVarPath = strings.Replace(localVarPath, "{"+"change-id"+"}", url.PathEscape(parameterValueToString(r.changeId, "changeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contextPadding != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context-padding", r.contextPadding, "form", "")
	}
	if r.enableContext != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "enable-context", r.enableContext, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetChangesChangeIdEditRequest struct {
	ctx context.Context
	ApiService *ChangesAPIService
	changeId string
	base *string
	downloadCommands *bool
	list *bool
}

func (r ApiGetChangesChangeIdEditRequest) Base(base string) ApiGetChangesChangeIdEditRequest {
	r.base = &base
	return r
}

func (r ApiGetChangesChangeIdEditRequest) DownloadCommands(downloadCommands bool) ApiGetChangesChangeIdEditRequest {
	r.downloadCommands = &downloadCommands
	return r
}

func (r ApiGetChangesChangeIdEditRequest) List(list bool) ApiGetChangesChangeIdEditRequest {
	r.list = &list
	return r
}

func (r ApiGetChangesChangeIdEditRequest) Execute() (*EditInfo, *http.Response, error) {
	return r.ApiService.GetChangesChangeIdEditExecute(r)
}

/*
GetChangesChangeIdEdit Get change edit

Retrieves the change edit of the calling user, if one exists, as an EditInfo entity.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeId
 @return ApiGetChangesChangeIdEditRequest
*/
func (a *ChangesAPIService) GetChangesChangeIdEdit(ctx context.Context, changeId string) ApiGetChangesChangeIdEditRequest {
	return ApiGetChangesChangeIdEditRequest{
		ApiService: a,
		ctx: ctx,
		changeId: changeId,
	}
}

// Execute executes the request
//  @return EditInfo
func (a *ChangesAPIService) GetChangesChangeIdEditExecute(r ApiGetChangesChangeIdEditRequest) (*EditInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EditInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangesAPIService.GetChangesChangeIdEdit")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/changes/{change-id}/edit"
	localVarPath = strings.Replace(localVarPath, "{"+"change-id"+"}", url.PathEscape(parameterValueToString(r.changeId, "changeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.base != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "base", r.base, "form", "")
	}
	if r.downloadCommands != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "download-commands", r.downloadCommands, "form", "")
	}
	if r.list != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "list", r.list, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetChangesChangeIdEditChangeEditIdRequest struct {
	ctx context.Context
	ApiService *ChangesAPIService
	changeId string
	changeEditId string
	base *bool
}

func (r ApiGetChangesChangeIdEditChangeEditIdRequest) Base(base bool) ApiGetChangesChangeIdEditChangeEditIdRequest {
	r.base = &base
	return r
}

func (r ApiGetChangesChangeIdEditChangeEditIdRequest) Execute() (*os.File, *http.Response, error) {
	return r.ApiService.GetChangesChangeIdEditChangeEditIdExecute(r)
}

/*
GetChangesChangeIdEditChangeEditId Method for GetChangesChangeIdEditChangeEditId

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeId
 @param changeEditId
 @return ApiGetChangesChangeIdEditChangeEditIdRequest
*/
func (a *ChangesAPIService) GetChangesChangeIdEditChangeEditId(ctx context.Context, changeId string, changeEditId string) ApiGetChangesChangeIdEditChangeEditIdRequest {
	return ApiGetChangesChangeIdEditChangeEditIdRequest{
		ApiService: a,
		ctx: ctx,
		changeId: changeId,
		changeEditId: changeEditId,
	}
}

// Execute executes the request
//  @return *os.File
func (a *ChangesAPIService) GetChangesChangeIdEditChangeEditIdExecute(r ApiGetChangesChangeIdEditChangeEditIdRequest) (*os.File, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangesAPIService.GetChangesChangeIdEditChangeEditId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/changes/{change-id}/edit/{change-edit-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"change-id"+"}", url.PathEscape(parameterValueToString(r.changeId, "changeId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"change-edit-id"+"}", url.PathEscape(parameterValueToString(r.changeEditId, "changeEditId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.base != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "base", r.base, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/octet-stream"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetChangesChangeIdEditChangeEditIdMetaRequest struct {
	ctx context.Context
	ApiService *ChangesAPIService
	changeId string
	changeEditId string
}

func (r ApiGetChangesChangeIdEditChangeEditIdMetaRequest) Execute() (*GetMetaFileInfo, *http.Response, error) {
	return r.ApiService.GetChangesChangeIdEditChangeEditIdMetaExecute(r)
}

/*
GetChangesChangeIdEditChangeEditIdMeta Method for GetChangesChangeIdEditChangeEditIdMeta

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeId
 @param changeEditId
 @return ApiGetChangesChangeIdEditChangeEditIdMetaRequest
*/
func (a *ChangesAPIService) GetChangesChangeIdEditChangeEditIdMeta(ctx context.Context, changeId string, changeEditId string) ApiGetChangesChangeIdEditChangeEditIdMetaRequest {
	return ApiGetChangesChangeIdEditChangeEditIdMetaRequest{
		ApiService: a,
		ctx: ctx,
		changeId: changeId,
		changeEditId: changeEditId,
	}
}

// Execute executes the request
//  @return GetMetaFileInfo
func (a *ChangesAPIService) GetChangesChangeIdEditChangeEditIdMetaExecute(r ApiGetChangesChangeIdEditChangeEditIdMetaRequest) (*GetMetaFileInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetMetaFileInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangesAPIService.GetChangesChangeIdEditChangeEditIdMeta")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/changes/{change-id}/edit/{change-edit-id}/meta"
	localVarPath = strings.Replace(localVarPath, "{"+"change-id"+"}", url.PathEscape(parameterValueToString(r.changeId, "changeId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"change-edit-id"+"}", url.PathEscape(parameterValueToString(r.changeEditId, "changeEditId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetChangesChangeIdEditMessageRequest struct {
	ctx context.Context
	ApiService *ChangesAPIService
	changeId string
	base *bool
}

func (r ApiGetChangesChangeIdEditMessageRequest) Base(base bool) ApiGetChangesChangeIdEditMessageRequest {
	r.base = &base
	return r
}

func (r ApiGetChangesChangeIdEditMessageRequest) Execute() (*os.File, *http.Response, error) {
	return r.ApiService.GetChangesChangeIdEditMessageExecute(r)
}

/*
GetChangesChangeIdEditMessage Method for GetChangesChangeIdEditMessage

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeId
 @return ApiGetChangesChangeIdEditMessageRequest
*/
func (a *ChangesAPIService) GetChangesChangeIdEditMessage(ctx context.Context, changeId string) ApiGetChangesChangeIdEditMessageRequest {
	return ApiGetChangesChangeIdEditMessageRequest{
		ApiService: a,
		ctx: ctx,
		changeId: changeId,
	}
}

// Execute executes the request
//  @return *os.File
func (a *ChangesAPIService) GetChangesChangeIdEditMessageExecute(r ApiGetChangesChangeIdEditMessageRequest) (*os.File, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangesAPIService.GetChangesChangeIdEditMessage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/changes/{change-id}/edit:message"
	localVarPath = strings.Replace(localVarPath, "{"+"change-id"+"}", url.PathEscape(parameterValueToString(r.changeId, "changeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.base != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "base", r.base, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/octet-stream"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetChangesChangeIdFlowsRequest struct {
	ctx context.Context
	ApiService *ChangesAPIService
	changeId string
}

func (r ApiGetChangesChangeIdFlowsRequest) Execute() ([]FlowInfo, *http.Response, error) {
	return r.ApiService.GetChangesChangeIdFlowsExecute(r)
}

/*
GetChangesChangeIdFlows List Flows

Lists the flows of a change that are visible to the caller.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeId
 @return ApiGetChangesChangeIdFlowsRequest
*/
func (a *ChangesAPIService) GetChangesChangeIdFlows(ctx context.Context, changeId string) ApiGetChangesChangeIdFlowsRequest {
	return ApiGetChangesChangeIdFlowsRequest{
		ApiService: a,
		ctx: ctx,
		changeId: changeId,
	}
}

// Execute executes the request
//  @return []FlowInfo
func (a *ChangesAPIService) GetChangesChangeIdFlowsExecute(r ApiGetChangesChangeIdFlowsRequest) ([]FlowInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []FlowInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangesAPIService.GetChangesChangeIdFlows")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/changes/{change-id}/flows"
	localVarPath = strings.Replace(localVarPath, "{"+"change-id"+"}", url.PathEscape(parameterValueToString(r.changeId, "changeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

[...]
